    <div class="logo" href="/">
        <img src="/images/logo-park-sounds-2018.svg" alt="" />
        <p>
            <h4 class="title">Park Sounds</h4>
            <span class="date">Lördag 19 maj 2018 <br></span>
            <span class="location">Huskvarna Folkets park</span>
        </p>

        <p>
            <a href="/press/">Press</a>
        </p>
        
        <p>
            <a href="/historik/">Historik</a>
        </p>


    </div>

    <a href="//secure.tickster.com/Intro.aspx?ERC=MMM4DEZMGZ96711" class="tickets">Köp biljetter</a>

    <aside class="social-icons column">
        <a class="button" href="https://open.spotify.com/user/exhausdead/playlist/6tlZwy0uB4oDJ10taz9zDk?si=t_ojDTbaSJSVsOJcpCXG1A"><svg class="icon icon-spotify"><use xlink:href="#icon-spotify"></use></svg></a>
        <a href="//www.instagram.com/theparksounds/"><svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg></a>
        <a href="//www.facebook.com/parksoundsfestival/"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></a>
    </aside>
