    <div class="logo" href="/">
        <p>
            <h4 class="title">Park Sounds</h4>
            <span class="date">lördag 10 september 2022<br></span>
            <span class="location">Huskvarna Folkets park</span>
        </p>

        <p>
            <a href="/spelschema/">Spelschema</a>
        </p>

        <p>
            <a href="/press/">Press</a>
        </p>
        
        <p>
            <a href="/historik/">Historik</a>
        </p>


    </div>

    <a href="https://secure.tickster.com/bc04tvdk9a8xrfv" class="tickets">Köp biljetter</a>

    <hr>

    <aside class="social-icons column">
        <a class="button" title="Park Sounds på Spotify" href="//open.spotify.com/playlist/74pG0xq7yLMoi0oOrC40bb"><svg class="icon icon-spotify"><use xlink:href="#icon-spotify"></use></svg></a>
        <a href="//www.instagram.com/theparksounds/" title="Park Sounds på Instagram"><svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg></a>
        <a href="//www.facebook.com/parksoundsfestival/" title="Park Sounds på Facebook"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></a>
    </aside>
