        <a class="logo" href="/">
            <img src="/images/logo-park-sounds-2018.svg" alt="Park Sounds 2018" />
            <span class="title">Park Sounds</span> <span class="date">Huskvarna Folkets Park 19 maj 2018</span>
        </a>

        <nav class="main-navigation">
            <ul>
                
                <li><a href="/artister/" class="{% if page.url contains "/artister/" %}current{% endif %}">Artister</a></li>
                
                <li><a href="/info/" class="{% if page.url == "/info/" %}current{% endif %}">Info</a></li>
                
                <li>
                    <a href="/press/" class="{% if page.url == "/press/" %}current{% endif %}">Press</a>
                </li>
                
                <li><a href="/historik/" class="{% if page.url contains "/historik/" %}current{% endif %}"">Historik</a></li>
                
                <li><a href="//secure.tickster.com/Intro.aspx?ERC=MMM4DEZMGZ96711" class="tickets">Köp biljett</a></li>

            </ul>
        </nav>