<a class="logo" href="/">
			<span class="title">Park Sounds</span> <span class="date">18 maj 2019</span> <span class="location">Huskvarna Folkets Park</span>
</a>

<a href="#menu" class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</a>

<nav id="menu" class="mobile-nav">
    <a href="#" class="mobile-nav-close">&times;</a>
    <ul>
        <li>
            <a href="/" class="{% if page.url contains "/" %}current{% endif %}">Klara artister</a>
        </li>
        <li>
            <a href="/spelschema/" class="{% if page.url contains "/spelschema/" %}current{% endif %}">Spelschema</a>
        </li>
        <li>
            <a href="/historik/" class="{% if page.url contains "/historik/" %}current{% endif %}">Historik</a>
        </li>
        <li>
            <a href="/press/" class="{% if page.url == "/info/" %}current{% endif %}">Press</a>
        </li>
    </ul>
</nav>

