---
layout: compress
---
<!DOCTYPE html>
<html lang="sv-SE">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oswald:400,500|Roboto:400,500">
    <link rel="stylesheet" href="/main.{{ site.data.cache.date }}.css">

    <link rel="icon" type="image/png" href="/images/favicon.png" sizes="32x32">
    <link rel="apple-touch-icon" href="/images/favicon-512x512.png">

    <title>{{ page.title }} - tidigare akter på Park Sounds i Huskvarna Folkets park</title>

    {% seo title=false %}
    {% seo %}

</head>

<body class="{% if page.url == "/" %}front-page{% endif %}">

    <header class="site-header">

        {% include header.html %}

    </header>


    <main class="main-content">

        {{ content }}

        {% include meta.html %}

    </main>

    <footer class="site-footer">

        {% include footer.html %}

    </footer>    

    {% include bottom.html %}

</body>
</html>