---
layout: compress
---
<!DOCTYPE html>
<html lang="sv-SE">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/main.{{ site.data.cache.date }}.css">

    <link rel="icon" type="image/png" href="/images/favicon.png" sizes="32x32">
    <link rel="apple-touch-icon" href="/images/favicon-512x512.png">

    {% seo %}
</head>

<body class="{% if page.url == "/" %}front-page{% endif %}">

    <header class="site-header">

        {% include header.html %}

    </header>

    <main class="main-content">

        <article>
            {{ content }}
        </article>

        {% if page.url == "/" or page.url == "/artister/" %}

            {% include artists.html %}

            <p>
            <a href="https://secure.tickster.com/e7p95k0zedfrlt3" class="tickets">Köp biljetter</a>
            </p>
            Fler artister tillkommer inom kort.

        {% endif %}

        {% include meta.html %}

    </main>


    <footer class="site-footer">

        {% include footer.html %}

        {% if page.url == "/" or page.url == "/artister/" %}

            <article>

                <h2 class="h4">Park Sounds</h2>

                <p>
                Park Sounds är en årligt återkommande festival i Huskvarna Folkets Park. Årets upplaga av Park Sounds äger rum lördagen den 30 maj 2020. Vår publik får uppleva ett tiotal band och artister på våra två scener, inramat av en klassisk folkparksmiljö. På området finns det också mat och dryck.
                </p>

                <p>
                2020 är fjärde året för festivalen. Tidigare år har bland andra The Hives, Raised Fist, Säkert!, Tove Styrke, Cult of Luna, Kite, Junior Brielle, LION, Teddybears, Johnossi, Sarah Klang, Kvelertak, Hurula, Jens Lekman och många fler stått på scen.
                </p>

                <p>
                Park Sounds arrangeras av föreningen 1934.
                </p>


            </article>

        {% endif %}


    </footer>    

    {% include bottom.html %}

</body>
</html>
